@media screen and (min-width: 768px) and (max-width: 1024px) {
	
	/*==========HEADER==========*/
	.menu-container {
		position: relative; /* Le positionnement est relatif pour les petits écrans */
		left: 0%;
		transform: none; /* Supprime toute transformation */
	}

	/*==========MYCREATION==========*/
	.image-column {
		flex: 1 1 33%;
	}
}