@media screen and (max-width: 767px) {
    /* Mobile-specific File Library styles */
    #imageSourceModal .small-modal {
        width: 95%;
        height: 90%;
    }

    #siteFilesList {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 8px;
    }

    #pcFilesList {
        gap: 8px;
        max-height: 30vh;
        overflow-y: auto;
    }
    .switch-wrapper {
        flex-direction: column;
        margin-right: 0;
    }

}
