/* Styles globaux pour les titres du site */

.first_title {
  color: #fff; /* Couleur du texte */
  font-size: 42px; /* Taille du texte */
  font-weight: bold; /* Graisse du texte */
  margin-bottom: 10px; /* Espace en dessous du titre */
text-align: center;
}

.title {
  color: #fff; /* Couleur du texte */
  font-size: 24px; /* Taille du texte */
  font-weight: bold; /* Graisse du texte */
  margin-bottom: 10px; /* Espace en dessous du titre */
text-align: center;
}

/* Styles globaux pour le texte du site */
.text {
	color: #fff; /* Couleur du texte */
	font-size: 13px; /* Taille du texte */
	max-width: 70%;
	margin: auto; /* Centre le texte horizontalement */
	text-align: center; /* Centrage du texte */
}

.lien {
    color: #89b9c8; /* Couleur principale */
    font-size: 16px; /* Taille du texte */
    font-weight: bold; /* Poids du texte */
    text-decoration: none; /* Pas de soulignement */
    padding: 10px 20px; /* Ajustement du padding pour mieux encadrer le texte */
    background-color: transparent; /* Fond transparent, peut être ajusté si nécessaire */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Style du curseur */
    transition: color 0.3s ease; /* Effet de transition pour le survol */
    display: inline-flex; /* Utilisez flex pour aligner l'icône et le texte */
    align-items: center; /* Centre les éléments verticalement */
    gap: 10px; /* Espace entre l'icône et le texte */
}

.lien i {
    font-size: 20px; /* Taille de l'icône un peu plus grande que le texte */
}

.lien:hover {
    color: #6D94A0; /* Couleur au survol, assombrir ou changer selon le thème */
    text-decoration: underline; /* Ajouter un soulignement au survol pour indiquer l'interactivité */
}


.intro-section {
	margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.intro-image-left img, .intro-image-right img {
    flex: 1;
    border-radius: 50%; /* Cela rend l'image ronde */
    width: 100%; /* Assure que l'image remplisse son conteneur */
    max-width: 200px; /* Ajuste cela selon la taille désirée */
    height: auto; /* Garde le ratio de l'image */
}

.intro-content {
    flex: 2;
}

.btn-primary {
    background-color: #89b9c8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.product-intro h2 {
    text-align: center;
    font-size: 2em; /* Ajuste la taille de la police selon tes besoins */
    margin-bottom: 0.5em; /* Espacement sous le titre */
	margin-top: 50px;
}

.product-intro p {
    text-align: center;
    font-size: 1em; /* Ajuste la taille de la police selon tes besoins */
    margin-bottom: 2em; /* Espacement supplémentaire sous la description pour séparer de la grille */
}
.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    position: relative;
    width: 30%; /* Ajuste la taille selon le besoin */
    height: 450px; /* Ajuste la hauteur selon le besoin */
    background-size: cover;
    background-position: center;
    margin-bottom: 20px; /* Espace entre les éléments */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-button {
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: #89b9c8; /* Couleur du bouton */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.product-item:hover .product-button {
    opacity: 1;
}
/* Style de base pour le carrousel */

.carousel {
	position: relative;
	}
.carousel-images {
    display: flex;
    overflow: hidden;
    width: 100%; /* Réduire la largeur pour ajouter de l'espace */
    padding: 0 30px; /* Ajouter un padding horizontal pour créer de l'espace aux extrémités */
}

.carousel-images img {
    flex: 0 0 calc(33.333% - 13.33px); /* Ajustez ici en tenant compte de la marge et de la bordure */
    max-width: calc(33.333% - 13.33px); /* Ajustez ici en tenant compte de la marge et de la bordure */
    display: block;
    transition: transform 0.5s ease;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.carrousel-images img:not(:last-child) {
    margin-right: 20px; /* Espace entre les images */
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0; /* Aligner au sommet du conteneur */
    height: calc(100% - 20px); /* Étendre la hauteur complète du conteneur */
	margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 123, 255, 0);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center; /* Centrer l'icône verticalement */
    justify-content: center; /* Centrer l'icône horizontalement */
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.carousel-control-prev {
    left: 0px; /* Ajustez cette valeur pour positionner hors des images si nécessaire */
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.carousel-control-next {
    right: 0px; /* Ajustez cette valeur pour positionner hors des images si nécessaire */
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.how-it-works-section {
    width: 50%; /* Largeur fixe à 50% */
    margin: 40px auto; /* Marges verticales de 40px et horizontales automatiques pour centrer */
    border: 2px solid #ccc; /* Style de bordure */
    padding: 20px; /* Padding interne */
    border-radius: 8px; /* Coins arrondis */
    display: flex; /* Utilisation de Flexbox */
    flex-direction: column; /* Orientation verticale des éléments fils */
    align-items: center; /* Centrage horizontal des éléments fils */
    justify-content: center; /* Centrage vertical des éléments fils */
}

.steps-list {
    list-style: none; /* Supprime le style de liste par défaut */
    counter-reset: step-counter; /* Initialise un compteur CSS */
    padding-left: 0; /* Supprime le padding par défaut */
}

.steps-list li {
    counter-increment: step-counter; /* Incrémente le compteur à chaque élément li */
    position: relative; /* Permet le positionnement absolu des pseudo-éléments */
    padding-left: 40px; /* Espace pour le numéro et le fond rond */
    margin-bottom: 15px; /* Espacement entre les éléments de liste */
}

.steps-list li::before {
    content: counter(step-counter); /* Affiche le numéro du compteur */
    position: absolute; /* Position absolue par rapport à son parent li */
    left: 0; /* Aligné à gauche dans le li */
    width: 25px; /* Largeur pour le cercle */
    height: 25px; /* Hauteur pour le cercle */
    background: #f2f2f2; /* Fond gris pour le cercle */
    border-radius: 50%; /* Rend le fond parfaitement rond */
    display: flex;
    align-items: center;
    justify-content: center; /* Centre le numéro dans le cercle */
    color: #333; /* Couleur du numéro */
	font-size: 14px;
    font-weight: bold; /* Rend le numéro gras */
}

.step-text {
	color: #fff; /* Couleur du texte */
	font-size: 13px; /* Taille du texte */
}

.carousel-inner {
    display: flex;
    overflow: hidden; /* Empêche le débordement */
    position: relative;
    width: 100%;
}

.product-item {
	overflow: hidden;
    flex-shrink: 0; /* Empêche les items de rétrécir */
    margin: 0 10px; /* Garde un espace entre les items */
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.product-image {
    width: 100%; /* Utilisez toute la largeur disponible */
    height: 240px; /* Hauteur pour l'image */
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px; /* Arrondi des coins supérieurs de l'image */
    border-top-right-radius: 10px;
}
.product-image-link {
    display: block;
    width: 100%;
    height: 240px; /* même hauteur que l'ancienne image */
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer; /* Ajoute le curseur pour montrer que c’est cliquable */
    transition: transform 0.3s ease; /* Petit effet hover optionnel */
}

.product-image-link:hover {
    transform: scale(1.02); /* Un petit zoom doux au survol */
}


.product-name-link {
    display: block;
    background-color: #89b9c8; /* Couleur de fond */
    color: #0D1117; /* Couleur du texte */
    text-decoration: none; /* Enlever le soulignement */
    text-align: center; /* Centrer le texte */
    padding: 5px 0; /* Réduction des marges verticales */
    width: 100%; /* Prend toute la largeur du conteneur */
    border-bottom-left-radius: 10px; /* Arrondi des coins inférieurs pour le lien */
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}

.product-name-link:hover {
    background-color: #6D94A0; /* Couleur au survol */
}

.product-name {
    margin: 0; /* Enlever les marges si nécessaire */
}
