.login-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    backdrop-filter: blur(10px); /* Effet de flou */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loginModal-content {
	position: relative;
    display: flex;
    background-color: var(--neutral-800);
    border-radius: 8px;
    overflow: hidden; /* Masque les débordements */
}
.new-user-prompt {
    margin-bottom: 10px; /* Ajoute 10 pixels d'espacement en dessous */
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 25px;
}

.login-box {
    padding: 20px;
    width: 400px; /* Ajustez selon vos besoins */
	height: 550px;
}

.login-title {
    margin-bottom: 15px;
}

.split-line {
    position: relative;
    border: none;
    height: 1px;
    background-color: var(--neutral-300);
    margin: 30px 0; /* Espace vertical autour de la ligne */
    overflow: visible; /* Permet aux enfants de se positionner correctement */
}

.split-line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: var(--neutral-300);
    z-index: 1;
}

.split-line::after {
    content: "OR";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrage parfait */
    background-color: var(--neutral-800); /* Couleur de fond pour cacher la ligne derrière le texte */
    color: var(--color-text-strong); /* Couleur du texte */
    font-size: 12px; /* Taille de la police pour le texte */
    padding: 0 10px; /* Espacement horizontal autour du texte */
    z-index: 2;
}


.input-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--neutral-300);
    border-radius: 4px;
}

.signup-button {
    background-color: var(--color-brand-500); /* Bleu vif pour attirer l'attention */
    color: var(--color-text-strong); /* Texte blanc pour le contraste */
    border: none; /* Aucune bordure pour un look moderne */
    border-radius: 4px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement interne pour le confort de clic */
    font-size: 16px; /* Taille de la police pour une bonne lisibilité */
    cursor: pointer; /* Indique que c'est cliquable */
    display: block; /* Affiche comme un bloc pour prendre toute la largeur si nécessaire */
    width: 100%; /* Utilise toute la largeur disponible */
    margin: 10px 0; /* Marge pour l'espacement autour du bouton */
    transition: background-color 0.3s; /* Transition douce pour le survol */
}

.signup-button:hover {
    background-color: var(--color-brand-600); /* Assombrit le bouton lors du survol */
}

.remember-forget-box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.signin-button {
    width: 100%;
    padding: 12px;
    background-color: var(--color-brand-500);
    color: var(--color-text-strong);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signin-button:hover {
    background-color: var(--color-brand-600);
}

.login-background {
	display: flex;
	position: relative;
    width: 500px; /* Ajustez selon vos besoins */
	color: var(--color-text-strong);
    background-size: cover;
    background-position: center;
	align-items: center;
    justify-content: center;
    flex-direction: column; /* Organise les éléments en colonne */
    text-align: left; /* Ajustez en fonction de votre préférence */
}
h2.title_login {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-size: 24px;
}
.background-content p {
    margin: 10px 0; /* Espacement entre les points */
    display: flex;
    align-items: center;
    font-size: 16px; /* Ajustez la taille de la police selon vos besoins */
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-weight: bold;
}

.background-content i {
    margin-right: 15px;
}

.social-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: var(--color-text-strong);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.facebook { background-color: var(--color-social-facebook); }
.google { background-color: var(--color-social-google); }
.apple { background-color: var(--color-text-inverse-strong); }

.close {
    position: absolute; /* Position absolue pour un meilleur contrôle */
    top: 10px; /* Ajustement vertical depuis le haut du contenu du modal */
    right: 15px; /* Ajustement horizontal depuis le côté droit du contenu du modal */
    cursor: pointer;
    font-size: 25px;
    color: var(--color-text-strong); /* Assurez-vous que la couleur blanche est appliquée */
    z-index: 1050; /* S'assurer qu'elle est au-dessus de tous les autres éléments du modal */
}

.close:hover,
.close:focus {
    color: var(--color-danger); /* Changement de couleur lors du survol ou du focus */
    text-decoration: none;
}
